:root {
    --greyColor: rgba(0, 0, 0, 0.6);
    --blackColor: #363d3f;
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, body, html {
    margin: 0;
    padding: 0;
}

html, body, main {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8eceb;
    color: #252523;
}

.header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    text-transform: lowercase;
}

.header .header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
    grid-auto-flow: column;
    grid-gap: 75px;
    font-weight: 600;
}
.header__list .header__list-item {
    letter-spacing: 1px;
}
.header .header__btns {
    display: flex;
    align-items: center;
}
.header .header__btn {
    display: flex;
    justify-self: center;
    text-transform: uppercase;
    fill: var(--greyColor);
}
.header .header__btn svg {
    width: 19px;
    height: 19px;
}
.header .header__btn:last-child {
    margin-left: 20px;
    font-weight: 600;
    color: var(--greyColor);
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main .main__photo {
    background-size: cover;
    background-position: center;
    _background-image: url('https://picsum.photos/1000/1000/?random');
    _background-image: url('https://www.thewanderblogger.com/wp-content/uploads/2017/10/photography-locations-in-prague-13.jpg');
    background-image: url('https://i.pinimg.com/originals/ca/7e/45/ca7e45dd2b1fc8cdc5d18e90139b51b3.jpg');
}
.main__photo .photo__nav {
    margin: 0;
    padding: 0 0 0 20px;
    width: 10%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    grid-gap: 20px;
    margin-top: 50%;
}
.main__photo .photo__nav, .photo__nav .photo__nav-item {
    list-style: none;
}
.photo__nav .photo__nav-item svg {
    width: 13px;
    height: 13px;
}
.photo__nav .photo__nav-item svg:first-child {
    background-color: #fff;
}

.main .main__content {
    _place-self: center center;
    _padding-left: 100px;
    position: relative;
    height: 100%;
    align-self: center;
}
.main__content .main__title {
    font-size: 90px;
    margin-top: 250px;
    margin-bottom: 250px;
    padding-left: 160px;
}
.main .main__pages {
    padding-left: 160px;
}
.main__pages .main__current-page {
    font-size: 50px;
    font-weight: 600;
    color: #000;
}
.main__pages .main__total-page {
    color: var(--greyColor);
    font-weight: 600;
    font-size: 30px;
}
.main__content .navigation {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 12.5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .navigation__arrow {
    font-size: 25px;
    color: var(--greyColor);
}
.navigation svg {
    fill: var(--greyColor);
}
.navigation .navigation__icon {
    margin-right: 10px;
}
.navigation .navigation__icon:last-child {
    margin-right: 0;
}